body{
    font-size: 12px;    
    color: white;
    background-color:#1B75BC ;  
}
section.masthead {
    text-align: center;  
    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}

section.masthead {
    height: 100vh;
}

.invoices{
    color: black;
    margin-top:5vh;

}

.logo{
    padding-top:5vh;
}

footer{
    text-align: center;

}

.modal{ 
    color: black;
}